@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Calibri, 'Trebuchet MS', sans-serif, fantasy, "sans-serif";
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.05em;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}


/*
@media only screen and (max-width: 320px) and (max-height:760px) {
    .hero {
        height: 180vh;
    }
    .hero-about {
        bottom: -100%;
    }
    .card {
        width: 295px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) and (max-height: 760px) {
    .hero {
        height: 175vh;
    }
    .hero-about {
        bottom: -95%;
    }
}

@media only screen and (min-width: 376px) and (max-width: 414px) and (max-height: 760px) {
    .hero {
        height: 175vh;
    }
    .hero-about {
        bottom: -95%;
    }
}

@media only screen and (min-width: 415px) and (max-width: 430px) and (max-height: 760px) {
    .hero {
        height: 170vh;
    }
    .hero-about {
        bottom: -93%;
    }
}

@media only screen and (min-width: 431px) and (max-width: 515px) and (max-height: 760px) {
    .hero {
        height: 165vh;
    }
    .hero-about {
        bottom: -88%;
    }
}

@media only screen and (min-width: 516px) and (max-width: 630px) and (max-height: 760px) {
    .hero {
        height: 155vh;
    }
    .hero-about {
        bottom: -78%;
    }
}

@media only screen and (min-width: 631px) and (max-width: 730px) and (max-height: 760px) {
    .hero {
        height: 155vh;
    }
    .hero-about {
        bottom: -78%;
    }
}


@media only screen and (max-width: 320px) {
    .hero {
        height: 150vh;
    }
    .hero-about {
        bottom: -70%;
    }
    .card {
        width: 295px;
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        height: 147vh;
    }
    .hero-about {
        bottom: -62%;
    }
}

@media only screen and (max-width: 767px) {
    .hero {
        height: 130vh;
    }
    .hero-about {
        bottom: -45%;
    }
}

@media only screen and (max-width: 1023px) {
    .hero {
        height: 135vh;
    }
    .hero-about {
        bottom: -45%;
    }
}

@media only screen and (max-width: 1280px) {
    .hero {
        height: 110vh;
    }
    .hero-about {
        bottom: -20%;
    }
}

@media only screen and (max-width: 1440px) {
    .hero {
        height: 110vh;
    }
    .hero-about {
        bottom: -20%;
    }
}

@media only screen and (max-width: 1920) {
    .hero {
        height: 110vh;
    }
    .hero-about {
        bottom: -20%;
    }
}*/